/* styles for my resume */
body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

/* banner name at top */

#name {
    font-size: 3em; 
    color:#33485e;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: auto;

}

/* my title  */
#title {
    font-size: 1.5em;
    color: #33485e;
    text-transform:uppercase;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

/* section titles  */
#sectionheader {
    font-size: 1.5em;
    background-color: #33485e;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 70%;
    min-width: 300px;
}

/* job titles  */
#jobtitle {
    font-size: 1.5em;
    font-weight: bold;
}

/* job organization  */
#organization {
    font-size: 1.25em;
    font-weight: 400;
}

/* job dates  */
#dates {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    margin-top: 2px;
}


.description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    display: inline;
    margin: auto;
    text-align: center;
}

#degrees {
    margin-top: 5px;
}

#do {
    margin-top: 5px;
}

.top {
    width: 60%;
    min-width: 300px;
    margin: 0%auto;
    margin-bottom: 30px;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* contact, skills, edu  */
li {
    font-size: 1em;
}