/* styles for my resume */
body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

/* banner name at top */
h1 {
    font-size: 3em; 
    color:#33485e;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

/* my title  */
strong {
    font-size: 1.5em;
    color: #33485e;
    text-transform:uppercase;
    font-weight: 400;
}

/* section titles  */
h2 {
    font-size: 1.5em;
    background-color: #33485e;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}

/* job titles  */
h3 {
    font-size: 1.5em;
    font-weight: 600;
}

/* job organization  */
h4 {
    font-size: 1.5em;
    font-weight: 400;
}

/* job dates  */
h5 {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
}


/* contact, skills, edu  */
li {
    font-size: 1em;
}